In [1]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [2]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
dados[['home', 'how_it_works', 'contact']]

    home  how_it_works  contact
0      1             1        0
1      1             1        0
2      1             1        0
3      1             1        0
4      1             1        0
..   ...           ...      ...
94     0             0        1
95     1             1        1
96     0             0        1
97     0             1        0
98     0             0        0

[99 rows x 3 columns]

In [4]:
# x = dados[['home', 'how_it_works', 'contact']]
# y = dados['bought']
# print(y)

In [5]:
mapa = {
    'home' : 'principal',
    'how_it_works' : 'como_funciona',
    'contact' : 'contato',
    'bought' : 'comprou'
}
dados.rename(columns = mapa, inplace=True)

In [6]:
x = dados[['principal', 'como_funciona', 'contato']]
y = dados['comprou']

In [7]:
dados.shape

(99, 4)

In [9]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [15]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%